# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user

# data files
data/
scratch/Compare2DaisukeResults_*

scratch/zzzOld_FromDaisuke/

# Other
results/CalcPB_Tables/
results/PB*.csv
zLiterature/
zOgleSpecific/